.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  border-radius: 8px;
  border: 2px solid var(--ifm-color-emphasis-800);
  padding: 0px;
  height: 570px;
  width: 270px;
  margin-top: 40px;
  margin-bottom: 20px;
}