.cdk * {
    margin: 0;
    padding: 0;
    outline: 0;
    letter-spacing: .1em;
}

.cdk {
    max-width: 500px;
    margin: 30px auto 0;
}

.cdk__title {
    line-height: 1.75;
    font-size: 10px;
    white-space: nowrap;
}

.cdk__content {
    margin-top: 15px;
}

.cdk__list {
    list-style: none;
}

.cdk__trigger {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 5px 14px 4px;
    line-height: 1.5;
    font-size: 10px;
}

.cdk__item:not(:first-child) {
    margin-top: 12px;
}

.cdk__item-date, .cdk__item-title {
    display: table-cell;
  }

.cdk__item-date {
    width: 1.2em;
}

.cdk__footer {
    margin-top: 13px;
    line-height: 1.5;
    font-size: 10px;
    white-space: nowrap;
}

.cdk__footer a {
    color: #040000;
}