.layout-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:800px) {
    .layout-container {
        width: 800px
    }
}

.content {
    font-family: 'Lucida Grande', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif; font-size: 0.9em; overflow-x: hidden; overflow-y: auto; margin: 0px !important; padding: 5px 20px 26px !important; background-color: rgb(255, 255, 255);font-family: 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, SimSun, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Segoe UI', AppleSDGothicNeo-Medium, 'Malgun Gothic', Verdana, Tahoma, sans-serif; padding: 20px;padding: 20px; color: rgb(34, 34, 34); font-size: 15px; font-family: 'Roboto Condensed', Tauri, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, SimSun, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Segoe UI', AppleSDGothicNeo-Medium, 'Malgun Gothic', Verdana, Tahoma, sans-serif; line-height: 1.6; -webkit-font-smoothing: antialiased; background: rgb(255, 255, 255);
}

.container h2 {
    clear: both;font-size: 1.8em; font-weight: bold; margin: 1em 0px 0.85em; /* margin-top: 0px; */ border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 8px; border-bottom-color: rgb(230, 230, 230);
}

h6 {
    clear: both;font-size: 1em; font-weight: bold; margin: 0.75em 0px 0.5em;color: rgb(119, 119, 119);
}

blockquote {
    margin: 1em 20px;border-left-width: 4px; border-left-style: solid; border-left-color: rgb(19, 80, 121); padding: 0px 15px; color: rgb(119, 119, 119);
}

p {
    margin: 1em 0px; word-wrap: break-word;margin-top: 14px;margin-bottom: 0px;
}

li {
    display: list-item; line-height: 1.5em;
}

.layout-container a {
    text-decoration: none; vertical-align: baseline;color: rgb(66,185,131);
}

.download a {
    color: var(--theme-color,#135079);
    font-weight: 600;
}

.introduction {
    margin: 1em 20px;border-left-width: 4px; border-left-style: solid; border-left-color: rgb(19, 80, 121); padding: 0px 15px; color: rgb(119, 119, 119);
}


